/*

*/

@font-face {
  font-family: Montserrat;
  src: url('../fonts/MontSerrat-Regular.otf');
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  background-color: hsl(0,0%,22%);
  //color: white;
  color: hsl(33,88%,55%);
}

#root {
  width: 100%;
  height: 100%;
}

* :not(style):not(script):not(title) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
