/*
  this is just a small "reset" css that makes the slide components
  more presentation-friendly without too much effort.

  i also have to define a @font-face here. note the url for the src property.
  with css-loader, style-loader, and file-loader, webpack can parse and
  include these assets like it does with js imports!
*/

@font-face {
  font-family: Montserrat;
  src: url('../fonts/MontSerrat-Regular.otf');
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  //background-color: hsl(0,0%,22%);
  //color: white;
  color: hsl(180,44%,22%);
}

#root {
  width: 100%;
  height: 100%;
}

* :not(style):not(script):not(title) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
